@font-face {
	font-family: normal;
	src:url(../fonts/caps.ttf);
}
*{
	margin:0;
	padding: 0;
	text-decoration: none;
}

.header{
	height: 80px;
	padding: 0 20px;
	background:linear-gradient(50deg,#ffffff 30%,#a89d00 30.3%);
}
.logo{
	position: absolute;
	margin-top: 25px;
	margin-left: 5%;
	font-size: 40px;
	color: #a89d00;
	text-transform: none;
	font-family: 'Sacramento', cursive;

}
.all{
	color: black
}	
.menu{
	float:right;
	line-height: 100px;
	margin-top: -10px;	
	margin-right: 20%;
}
.menu a{	color: white;
	font-size: 15px; 
	text-decoration: none;
	padding: 0 40px;
	font-family: normal;
}
.search{
	position: absolute;
	color: white;
	top: 33px;
	right: 5%;
	cursor: pointer;
}


.show-menu-btn, .hide-menu-btn{
	font-size: 30px;
	cursor: pointer;
	display: none;
}
.show-menu-btn{
	float: right;
}
.show-menu-btn{
	line-height: 100px;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
	color: black;
	transition: 600ms;
}

#chk{
	position: absolute;
	visibility: hidden;
	z-index: -1111;
}
.main{
	background:linear-gradient(50deg,#0d0d0c 40%,#ffffff 40.3%);
}
.slideshow-container{
	left: -18%;
}
.mySlides {display: none;}
img {
	vertical-align: left;
	height: 35%;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Slideshow container */
.slideshow-container {
  width:60%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #6a6402;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: right;
  right: 50px;
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.slogan{
	position: absolute;
    left: 69%;
	top: 140px;
	text-align: center;
	line-height: 100px;
	font-size: 25px;
	color: #7a7402;


}
.slogan-h1{
	margin-bottom: 50px;
	font-family: normal;
}
.aboutus{
	font-size: 20px;
	color: white;
	padding: 15px 20px 15px 20px;
	background-color: #a89d00;	
	border-radius: 5px;
	font-family: normal;
}
.aboutus:hover{
	border: 1px solid black;
	color: #474406;
	background-color: white;
	transition: 1000ms;
}
/****--------- wine section -------*****/
.wine_section{
	background:linear-gradient(0deg,grey 1%, white 99%);
}
.wine_head{
	font-size: 40px;
	font-family: normal;
	text-align: right;
	padding-right: 60px;
	margin-top: 30px;
	padding-top: 100px;
}
.wine_row{
	display: flex;
	margin-top: 100px;
}
.bottle{
	order: -2;
	width: 400px;
	height: 600px;
 	padding-left: 5%;
}
.wine_description{
	margin-top: 140px;
}
.wine_description h3{
	font-size: 30px;
	font-family: normal;
	padding-left: 30px;

}
.color{
	color: #a89d00;
}
.wine_description p{
	text-align: justify;
	width: 80%;
	margin-top: 100px;	
	line-height: 25px;
	margin-bottom: 100px;
}


/*------------bottle 2------------*/

.wine_description_2{
	margin-left: 10%;
	margin-top: 120px;
}
.wine_description_2 h3{
	font-size: 30px;
	font-family: normal;
	padding-left: 30px;

}
.wine_description_2 p{
	text-align: justify;
	width: 90%;
	margin-top: 50px;	
	line-height: 25px;
	margin-bottom: 100px;
}

/*---------- bottle 3-----------*/

.bottle_3{
	order: -2;
	display: inline;
	width: 650px;
	height: 600px;
}



.dedails{
	padding: 15px 40px 15px 40px;
	margin-top: 100px;
	border-radius: 5px;
	border: 1px solid black;
	display: inline;
	color: black;
	font-family: normal;
}

.dedails:hover{
	background-color: grey;
	color: white;
}










/*-------------responsive---------------*/
@media only screen and (max-width: 1300px){
	.slogan{
			top: 120px;
            left: 71%;
} 
		.slogan-h1{
			font-size: 38px;
			margin-bottom: 20px;
		}
}

@media only screen and (max-width: 1100px){

	.header{

	background:linear-gradient(50deg,#ffffff 50%,#a89d00 51%);
}
	.show-menu-btn, .hide-menu-btn{
		display: block;
		color: white;
		margin-top: -8px;
		margin-right: 20px;
	}
	.search {
		display: inline-block;
		position: absolute;
		margin-right: 15%;
	}
	.menu{
		position: fixed;
		width: 40%;
		height: 100%;
		background:linear-gradient(20deg,#545454 20%,#adadad 99%);
		right: -100%;
		top: 0;
		text-align: left;
		padding: 80px 0;
		line-height: normal;
		z-index: 11111;
	}
	.logo{
		left: -11px;
	}
	.menu a{
		margin-top: 20px;
		display: block;
		padding: 20px;
	}

	.hide-menu-btn{
		position: absolute;
		top: 43px;
		margin-left: 20px;
	}
	#chk:checked ~ .menu{
		right:-220PX;

    }
    .slogan{
			top: 120px;
            left: 70%;
            line-height: 60px;
    } 
	.slogan-h1{
			font-size: 28px;
			margin-bottom: 20px;
		}
}


@media only screen and (max-width: 820px) {

	.menu{
		position: fixed;
		width: 60%;
	}
	.main{
	background:linear-gradient(50deg,#0d0d0c 55%,#ffffff 55.3%);
}
	.slideshow-container{
		left: 5%;
}
	.mySlides {display: none;}
	img {
		vertical-align: left;
		height: 35%;
	
}
	.slideshow-container {
	  	width:90%;
	}
	.slogan{
		top: 140px;
		left: 60%;
        right: 10%;
        line-height: 45px;
	} 
	.slogan-h1{
		margin-bottom: 20px;
	}
		
	.aboutus{
		font-size: 15px;
		color: white;
		padding: 7px 10px 7px 10px;
		background-color: #a89d00;	
		border-radius: 5px;
	}
}
@media only screen and (max-width: 625px) {
	.menu{
		position: fixed;
		width: 80%;

	}
	.menu{
		position: fixed;
		width: 80%;
	}
	
  	.prev, .next,.text   
  		{font-size: 11px}

  	.slogan{
		top: 140px;
		left: 47%;
        right: 10%;
        line-height: 40px;
	} 
	.slogan-h1{
		margin-bottom: 20px;
	}
		
	.aboutus{
		font-size: 15px;
		color: white;
		padding: 7px 10px 7px 10px;
		background-color: #a89d00;	
		border-radius: 5px;
	}


}

@media only screen and (max-width: 505px) {
	.menu{
		width: 110%;
		right: -1400%;
	}
	.menu a{
		margin-top: 1px;
	}
	.search {
		margin-right: 20%;
	}
	.show-menu-btn{
		margin-right: 5px;
	}

	.slogan{
		top: 130px;
		left: 55%;
        line-height: 30px;
        
	} 
	.slogan-h1{
		margin-bottom: 10px;
		font-size: 18px;
	}
	.aboutus{
		font-size: 13px;
		padding: 7px 8px 7px 8px;
	
	}
}
@media only screen and (max-width: 355px){
	.menu{
		width: 120%;
	}
	.header{
	background:linear-gradient(50deg,#ffffff 50%,#a89d00 51%);
    }
    .logo{
    	font-size: 35px;
    	margin-left: 25px;
    }
    .search {
		margin-right: 25%;
	}
	.slogan{
		top: 125px;
		left: 47%;
        line-height: 30px;
        
	} 
	.slogan-h1{
		margin-bottom: 10px;
		font-size: 18px;
	}
	.aboutus{
		font-size: 13px;
		padding: 7px 8px 7px 8px;
	
	}
}